.nac-link .active {
    color: red;
}

.nav-link {
    text-decoration: none;
    display: flex;
    gap: 1rem;
}

.nav-link img {
    background-color: #5149E4;
}

.sidebar-container {
    background-color: #F9FAFF;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 40px;
}

.sidebar-container-inside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}


.logo-container>p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: black;
}


#main-part-img {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    text-decoration: none;
    padding-bottom: 5px;
    /* background-color: #ECEFF7; */
    padding: 15px 15px;
}

#main-part-img>img {
    width: 22px;
    height: 22px;
    background-color: #ECEFF7;
    width: 50px;
    padding: 12px;
    height: 50px;
}

#navbar-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #8A96B1;
}

